@media screen and (min-width: 575px) {

    header {
        .header-container {
            h1 {
                font-size: 3em;
            }
        }
    }

    main {

        section{
            h2 {
                margin-top: 1em;
            }
        }

        .section-aboutMe {
            img {
                max-width: 400px;
            }
            .aboutMe-contact {
                .card {
                    max-width: 500px;
                    margin: auto;
                }
            }
        }
        
        .section-webStats {
            .card-container {
                max-width: 430px;
                margin-left: auto;
                margin-right: auto; 
            }
        }

    }

    .main-project {

        .section-projects {

            .projects-container {

                .card-deck {
                    grid-template-columns: auto auto;
                }
            }
        }
    }

}

@media screen and (min-width: 700px) {
    main {

        section {
            max-width: 960px;
            margin: 0 auto;
            p {
                font-size: 20px;
            }
            li {
                font-size: 18px;
            }

        }

        .section-aboutMe {
            .aboutMe-content {
                align-self: center;
            }
        }

        .section-webStats {
            .card-container {
                max-width: 1200px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
            }
        }


        .section-portfolio {
            h3 {
                margin-top: 1em;
                margin-bottom: 1em;
            }
            .portfolio-piece-wrap {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 10px;
                .portfolio-piece {
                    margin-bottom: 0;
                    height: 300px;
                }
            }
            .development-wrap {
                display: grid;
                grid-template-columns: 2fr 1fr;
                box-shadow: 0px 0px 3px 4px #55677733;
                padding: 20px;

                .development-title {
                    h4 {
                        border-bottom: 15px groove #b5cede;
                        width: 80%;
                        padding-bottom: 10px;
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: 1.5em;
                    }
                    p {
                        margin-top: 1em;
                    }
                }

                .single-piece {
                    width: 300px;
                    max-width: 400px;;
                }
            }
        }

    }

    .main-project {

        .section-projects {

            .html-container {

                .card-deck {
                    grid-template-columns: auto auto auto;
                }
            }
            
            .javascript-container {

                .project-wrap {
                    padding: 0;
                    .block {
                        .desktop-hidden {
                            display: none;
                        }
                        img {
                            height: 200px;
                        }
                        width: 40%;
                        margin: 10px auto;                    
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 900px) {

    main {

        section {
            h2 {
                font-size: 3em;
                margin-top: 1em;
                margin-bottom: 1em;
                color: #868686;
            }
            h3 {
                margin-top: 2em;
                margin-bottom: 2em;
                font-size: 2em;
            }
        }

        .section-aboutMe {

            img {
                margin-bottom: 0;
            }

            .aboutMe-wrap {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

        }

    }

}