.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.sc-ion-card-md-h {
  margin-top: 15%;
  margin-bottom: 10%;
}

ion-card-title {
  font-size: 2em;
  text-align: center;
  font-variant: all-petite-caps;
  letter-spacing: 10px;
  margin: 10px 0;
}

ion-card-content {
  --color: #6b6b6b;
}