<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        My Sports
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-slides pager="false" scrollbar="true">

    <ion-slide>
      <h1 class="title">Favourite Teams</h1>
      <ion-img src="/assets/portfolio_pic.jpg"></ion-img>
    </ion-slide>

    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>

    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>

  </ion-slides>
</ion-content>
