// blockquote styling
.quotation{
    font-size: 1em;
    font-style: italic;
    //margin: 0 auto;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 10px 20px;
    line-height: 1.4;
    color: #5b7b95;
    margin-bottom: 0;
  }
  
  .quotation:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 0;
    color: #ccc;
    font-size: 2em;
  }
  .quotation::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 4px;
    position: relative;
    top: 8px;
    color: #ccc;
    font-size: 2em;
  }
  footer{
    margin:0;
    text-align: right;
    font-size: 0.8em;
    font-style: italic;
  }
  //////////////// end of blockquote styling


  // BOOTSTRAP STYLES

.section-webStats {
  .card{
    img {
      width: 100%;
      height: 120px;
      margin: 2em auto;
    }
    .card-text li {
      list-style: square;
    }
  }
  .progress {
    height: 40px;
    .html {
      background-color: #3cacef;
    }
    .css {
      background-color: #ffbe00;
    }
    .javascript {
      background-color: tomato;
    }
    .php {
      background-color: lightgreen;
    }
  }
}

  //////////////// END OF BOOTSTRAP STYLES


  // TOOLS

  .hidden {
    display: none;
  }

  //////////////// END OF TOOLS