.bg-black {
	background-color: black;
}

/* typography */
h1, h2. h3. h4 {
	font-family: 'Oswald', sans-serif;
}
p, a, li {
    font-family: 'Raleway', sans-serif;
}



/* navigation styles */
nav .navbar {
	text-decoration: none;
	color: white;
	text-align: center;
}

.nav-grid button {
	width: 60px;
	justify-self: end;
}

.nav-item2 a {
	color: white;
	font-weight: 300;
}

@media screen and (min-width: 600px) {


	.nav-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.nav-item1 {
		grid-column: 2/3;
		justify-self: center;
		letter-spacing: 10px;
		font-size: 18px;
		font-weight: 700;
	}
	.nav-item2 {
		grid-column: 3/4;
		justify-self: end;
	}
	.nav-item2 .navbar-nav {
		text-align: center;
	}


}