footer {
    background-color: #303030;
    padding: 10px;
    text-align: center;
    margin-top: 1em;
    h2, p {
        font-family: 'Poiret One', cursive;
        color: snow;
        font-variant: all-small-caps;
    }
    hr {
        height: 5px;
        background-color: #7d939b;
        width: 40%;
    }
}