main {

    section {
        padding: 1em;
        h2 {
            letter-spacing: 7px;
            border-left: 10px groove #D1DDE7;
            padding: 10px;
            font-variant: all-small-caps;
            margin-bottom: 1em;
        }
        h3 {
            padding: 10px;
            font-variant: all-small-caps;
            margin-bottom: 1em;
            border-left: 10px groove #dddddd;
            margin-left: 20px;
            margin-top: 1em;
            margin-right: 20px;
            color: #8b9a9f;
            background-color: #f6f6f6;
        }
        h5 {
            font-weight: bold;
            letter-spacing: 2px;
            font-weight: 2em;
        }
    }

    .section-aboutMe {
        img {
            width: 90%;
            box-shadow: 6px 6px 1px 1px #828282;
            margin-bottom: 2em;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        .aboutMe-contact {
            .card {
                box-shadow: 0 0 4px 4px gainsboro;
            }
            .list-group {
                li {
                    background-color: #516e81;
                    color: white;
                    a {
                        text-decoration: none;
                        color: white;
                    }
                    a:hover {
                        color: #629ab4;
                    }
                }
                i {
                    margin-right: 1em;
                }
            }
        }    
    }


    .section-webStats {
        .section-otherSkills {
            .fas.fa-angle-double-right {
                color: #629ab4;
            }
            .otherSKills-list {
                li {
                    margin-bottom: 0.5em;
                    font-style: italic;
                    color: slategray;
                    font-weight: bold;
                }
            }
        }
        .card {
            box-shadow: 0 0 7px 1px #cecece;
            .card-body {
                background-color: #829cac;
                color: #fffafa;
            }
        }
    }
    
    
    .section-portfolio {

        .portfolio-heading {
            color: #fff;
            background-color: #2b606f;
        }
        .portfolio-piece {
            height: 225px;
            overflow-y: hidden;
            margin-bottom: 2em;

            img {
                width: 100%;
            }

        }
        .development-wrap {
            .development-title {
                h4 {
                    letter-spacing: 2px;
                    color: teal;
                    margin: 20px 0;
                    font-size: 1.2em;
                }
            }
            .portfolio-piece-wrap {
                img {
                    width: 100%;
                }
                .project-link {
                    margin-top: 1em;
                    background-color: #c1c1c1;
                    border-color: #cecece;

                }
                .project-link:hover {
                    background-color: #516e81 !important;
                }
            }
        }


    }

}